@import "./experience-items.css";

:root {
  --bg-color: #e6e08b;
  --primary-color: #10402e;
  --secondary-color: gray;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
}

main {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

h1 {
  font-size: 4em;
  line-height: 0.8em;
}
