.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: 1em;
  margin: 1em 0;
}

.card-move,
.card-enter-active {
  transition: transform 0.5s ease;
  transition: opacity 0.5s ease;
}

.card-enter-from {
  opacity: 0;
  transform: translateY(-30px);
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  overflow: hidden;
  border: 1px solid var(--primary-color);
  box-shadow: 0px 5px 7px var(--primary-color);
  /* TODO: transition overrides vue transitiongroup */
  /* transition: box-shadow 0.2s; */
}

.card:hover {
  box-shadow: 0px 5px 1px var(--primary-color);
}

.card .head {
  min-height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-bg);
}

.card .head h1 {
  margin: 1rem 0;
}

.card .body {
  margin: 1em;
}
