.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: 1em;
  margin: 1em 0;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  overflow: hidden;
  border: 1px solid var(--primary-color);
  box-shadow: 0px 5px 7px var(--primary-color);
}

.card .head {
  min-height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-bg);
}

.card .head h1 {
  margin: 1rem 0;
}

.card .body {
  margin: 1em;
}
