.exp-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.exp-container {
  display: flex;
  flex-direction: column;
  border: 0.5em solid var(--primary-color);
}

.exp-container .head {
  background-color: var(--primary-color);
  color: var(--bg-color);
  min-height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.exp-container .head h1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.exp-container .technologies > span {
  padding: 1em;
  margin: 0 0.25em;
  color: var(--primary-color);
  background-color: var(--bg-color);
  border-radius: 1em;
  font-size: 0.8em;
  display: inline-block;
}
