@import "./fonts.css";
@import "./themes.css";

:root {
  font-family: "Lato", sans-serif;
  --default-shadow: 5px 5px 0px var(--primary-color);
  --max-width: 1280px;
  --max-section-width: 50em;
}

@keyframes reveal-title {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: 0;
  }
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-color);
  margin: 0;
}

main {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

main section {
  margin-bottom: 2em;
  background-color: var(--primary-bg);
  padding: 1em;
  box-shadow: var(--default-shadow);
}

main section.smaller {
  max-width: var(--max-section-width);
}

main section.right {
  margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  /* background-color: var(--primary-color); */
  color: var(--primary-bg);
  display: inline-block;
  padding: 0.25em 0;
}

h1 {
  font-size: 3em;
  line-height: 0.9em;
  position: relative;
  z-index: 1;
}

h1::before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: var(--primary-color);
  z-index: -1;
  top: 0;
  bottom: 0;
  animation: reveal-title 0.8s ease 0.2s forwards;
}

input {
  font-family: "Lato", sans-serif;
}

a {
  color: var(--primary-color);
}

button,
a.btn {
  padding: 1em;
  background-color: var(--primary-color);
  color: var(--primary-bg);
  border: 1px solid var(--primary-color);
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

button:hover,
a.btn:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

button:active,
a.btn:active {
  text-decoration-line: underline;
  color: var(--primary-color);
  background-color: var(--primary-bg);
}

button.primary-inverted {
  background-color: var(--primary-bg);
  color: var(--primary-color);
}

.primary {
  color: var(--primary-color);
  background-color: var(--primary-bg);
}

.primary-inverted {
  color: var(--primary-bg);
  background-color: var(--primary-color);
}
