@import "./fonts.css";
@import "./card.css";
@import "./filter.css";
@import "./themes.css";

:root {
  font-family: "Lato", sans-serif;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: 0;
  }
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-color);
  margin: 0;
}

main {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 3em;
  line-height: 0.9em;
}

input {
  font-family: "Lato", sans-serif;
}

button,
a.btn {
  padding: 1em;
  border-radius: 1em;
  background-color: var(--primary-color);
  color: var(--primary-bg);
  border: 1px solid var(--primary-color);
}

button:hover,
a.btn:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

button:active,
a.btn:active {
  text-decoration-line: underline;
  color: var(--primary-color);
  background-color: var(--primary-bg);
}

button.primary-inverted {
  background-color: var(--primary-bg);
  color: var(--primary-color);
}

.primary {
  color: var(--primary-color);
  background-color: var(--primary-bg);
}

.primary-inverted {
  color: var(--primary-bg);
  background-color: var(--primary-color);
}

.label-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: flex-start;
}

.label {
  padding: 1em;
  border-radius: 1em;
  font-size: 0.8em;
}

.info-item {
  display: flex;
  align-items: center;
}

.info-item > *:first-child {
  margin-right: 1em;
}
