@import "./fonts.css";
@import "./card.css";
@import "./filter.css";

:root {
  --primary-bg: white;
  --primary-color: black;
  --secondary-color: gray;

  --primary-bg: #a4c2bd;
  --primary-color: #205748;
  --secondary-bg: #f5abb6;
  --secondary-color: #882e1a;

  font-family: "Lato", sans-serif;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-color);
  margin: 0;
}

main {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 3em;
  line-height: 0.9em;
}

input {
  font-family: "Lato", sans-serif;
}

button {
  padding: 1em;
  border-radius: 1em;
  background-color: var(--primary-color);
  color: var(--primary-bg);
  border: 1px solid var(--primary-color);
}

button:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

button:active {
  text-decoration-line: underline;
  color: var(--primary-color);
  background-color: var(--primary-bg);
}

.primary {
  color: var(--primary-color);
  background-color: var(--primary-bg);
}

.primary-inverted {
  color: var(--primary-bg);
  background-color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
  background-color: var(--secondary-bg);
}

.secondary-inverted {
  color: var(--secondary-bg);
  background-color: var(--secondary-color);
}

.label {
  padding: 1em;
  margin: 0 0.25em;
  border-radius: 1em;
  font-size: 0.8em;
  display: inline-block;
}

.hero {
  position: relative;
  height: auto;
  min-height: 40vw;
  background-color: var(--primary-color);
  color: var(--primary-bg);
}

.hero > h1 {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  margin: 0;
  padding-bottom: 0.3em;
  font-size: max(3em, 12vw);
  background-color: var(--primary-color);
}
