:root {
  --pine-main: #205748;
  --pine-bg: #a4c2bd;

  --red-main: #882e1a;
  --red-bg: #f5abb6;

  --light-main: #1b1b1b;
  --light-bg: #ffffff;

  --papyrus-main: #3d311e;
  --papyrus-bg: #f3a65e;

  --blue-bg: #cad6ec;
  --blue-main: #154273;

  --vintage-bg: #ecc36f;
  --vintage-main: #090209;

  --brat-bg: #8bcf00;
  --brat-main: #000000;

  --primary-color: var(--pine-main);
  --primary-bg: var(--pine-bg);
}

:root.red {
  --primary-color: var(--red-main);
  --primary-bg: var(--red-bg);
}

:root.light {
  --primary-color: var(--light-main);
  --primary-bg: var(--light-bg);
}

:root.papyrus {
  --primary-color: var(--papyrus-main);
  --primary-bg: var(--papyrus-bg);
}

:root.belasting {
  --primary-color: var(--blue-main);
  --primary-bg: var(--blue-bg);
}

:root.vintage {
  --primary-color: var(--vintage-main);
  --primary-bg: var(--vintage-bg);
}

:root.brat {
  --primary-color: var(--brat-main);
  --primary-bg: var(--brat-bg);
}
