:root {
  --pine-main: #205748;
  --pine-bg: #a4c2bd;

  --red-main: #882e1a;
  --red-bg: #f5abb6;

  --light-main: #1b1b1b;
  --light-bg: #ffffff;

  --papyrus-main: #3d311e;
  --papyrus-bg: #f3a65e;

  --primary-color: var(--pine-main);
  --primary-bg: var(--pine-bg);
}

:root.red {
  --primary-color: var(--red-main);
  --primary-bg: var(--red-bg);
}

:root.light {
  --primary-color: var(--light-main);
  --primary-bg: var(--light-bg);
}

:root.papyrus {
  --primary-color: var(--papyrus-main);
  --primary-bg: var(--papyrus-bg);
}
